pandas==2.2.2
tqdm==4.65.0
bs4==0.0.1
sentida==0.6.0
nltk==3.8.1
spacy==3.7.6
openai==1.59.5
openpyxl==3.1.5
PyYAML==6.0.2
gensim==4.3.3
lxml==4.9.2
pyarrow==18.1.0
pydantic==2.9.2
transformers==4.54.1
torch==2.7.1
plotly==5.20.0 # WIP as of 21-11-2025, for charting only
bokeh==3.8.1 # WIP as of 21-11-2025, for charting only